.login-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 80pt;
    text-align: center;
    .logo {
        height: 90px;
    }
    .title {
        color: #d51a19;
    }
}

ion-button.login-btn {
    --background: #d51a19;
}
.tips {
    color: #bababa;
}
.register {
    position: absolute;
    bottom: 15pt;
    width: 100%;
    p {
        color: #bababa
    }
}